@import "../../variables.sass"

.authForm
  max-width: 350px
  width: 100%

  &-title
    margin: 0 0 16px 0
    font-size: $font-64px
    color: $main-white

  &-form
    display: flex
    flex-direction: column