
.achievements-container
  display: flex
  height: 333px
  width: 100%

  @media screen and (max-width: 768px)
    flex-wrap: wrap

  .achievements
    background-color: #303030
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 30px 20px
    box-sizing: border-box
    flex-direction: column
    border-radius: 8px
    margin-right: 32px
    height: 335px
    opacity: 0
    animation: anim 1s forwards
    animation-delay: 150ms
    max-width: 733px

    @media screen and (max-width: 1280px)
      max-width: 637px
      height: 288px

    @media screen and (max-width: 1024px)
      max-width: 537px
      height: 260px

    @media screen and (max-width: 768px)
      max-width: 500%
      margin-right: 0

  .right-block
    max-width: 174px
    width: 100%
    max-height: 288px

    @media screen and (max-width: 1024px)
      max-height: 260px

    @media screen and (max-width: 768px)
      max-height: 216px
      max-width: 100%
      width: 100%


@keyframes anim
  0%
    opacity: 0
  100%
    opacity: 1