@import "../../variables.sass"

.nav-item-link
  text-decoration: none
  width: 100%
  opacity: 0
  animation: anim 1s forwards

  @keyframes anim
    0%
      opacity: 0
    100%
      opacity: 1

.nav-item
  height: 91px
  position: relative
  background-color: $bg-main1
  border-radius: 8px
  padding: 16px 20px
  margin-bottom: 16px
  transition: all 0.2s ease-in-out

  @media screen and (max-width: 1280px)
    height: 85px
    padding: 13px 20px

  @media screen and (max-width: 1024px)
    height: 74px
    padding: 13px 16px

  @media screen and (max-width: 768px)
    height: 54px
    margin-bottom: 0
    padding: 8px 8px

  &:hover
    background-color: $bg-main1-hover

  &:active
    background-color: $bg-main1-active

  .nav-item_title
    margin: 0
    width: auto
    color: $main-white
    text-decoration: none
    border: none
    font-size: $font-12px

    @media screen and (max-width: 1280px)
      font-size: $font-10px

    @media screen and (max-width: 768px)
      text-align: center

  .nav-item_img
    position: absolute
    bottom: 15px
    right: 20px

    @media screen and (max-width: 768px)
      bottom: 10px
      left: 50%
      margin-left: -12px


.nav-item-small
  height: 58px

  @media screen and (max-width: 1280px)
    height: 46px

  @media screen and (max-width: 1024px)
    height: 38px

  @media screen and (max-width: 768px)
    height: 54px
    margin-right: 10px
    padding: 8px 8px

.nav-item-left

  @media screen and (max-width: 768px)
    margin-right: 0

.active
  border: 0

  &:hover
    border: 0